<div class="print-content">
    <img id="img-frm" src="assets/imags/frm-issue.jpg" style="width: 21cm;" >

    <span [style]="'position: absolute; top: ' + y +'cm; left: ' + x + 'cm'">X</span>
    <span style="position: absolute; top: 4.3cm; left: 16cm">{{other}}</span>
    <span style="position: absolute; top: 5.2cm; left: 4cm">{{no}}</span>
    <span style="position: absolute; top: 5.2cm; left: 11.5cm">{{location}}</span>
    <span style="position: absolute; top: 6.7cm; left: 14.8cm">{{profile.name1}}</span>
    <span style="position: absolute; top: 7.2cm; left: 15cm">{{profile.position1}}</span>
    <span style="position: absolute; top: 10.7cm; left: 14.8cm">{{profile.name2}}</span>
    <span style="position: absolute; top: 11.5cm; left: 15cm">{{profile.position2}}</span>
    <span style="position: absolute; top: 23.5cm; left: 4.5cm">{{profile.name3}}</span>
    <span style="position: absolute; top: 24cm; left: 4.8cm">{{profile.position3}}</span>
    <span style="position: absolute; top: 23.5cm; left: 13.2cm">{{profile.name4}}</span>
    <span style="position: absolute; top: 24cm; left: 13.4cm">{{profile.position4}}</span>
    <span style="position: absolute; top: 26.4cm; left: 4.8cm">{{profile.name5}}</span>
    <span style="position: absolute; top: 26.9cm; left: 5.5cm">{{profile.position5}}</span>
    <span style="position: absolute; top: 26.4cm; left: 13.2cm">{{profile.name6}}</span>
    <span style="position: absolute; top: 26.9cm; left: 13.4cm">{{profile.position6}}</span>
</div>