<div class="print-content">
    <img id="img-frm" src="assets/imags/frm-issue.jpg" style="width: 21cm;" >
    <span [style]="'position: absolute; top: ' + y +'cm; left: ' + x + 'cm'">X</span>
    <span style="position: absolute; top: 4.3cm; left: 16cm">{{other}}</span>
    <span style="position: absolute; top: 3.4cm; left: 2.7cm">{{no}}</span>
    <span style="position: absolute; top: 3.4cm; left: 8.5cm">{{location}}</span>

    <!--
    <span style="position: absolute; top: 13.4cm; left: 9cm">{{profile.name1}}</span>
    <span style="position: absolute; top: 26cm; left: 14cm">{{profile.position1}}</span>
    -->
    
    <!--
    <span style="position: absolute; top: 20.5cm; left: 14.8cm">{{profile.name2}}</span>
    <span style="position: absolute; top: 20.5cm; left: 15cm">{{profile.position2}}</span>
    -->

    <span style="position: absolute; top: 20.7cm; left: 3cm">{{profile.name3}}</span>
    <span style="position: absolute; top: 20.7cm; left: 3cm">{{profile.position3}}</span>

    <span style="position: absolute; top: 20.7cm; left: 9.5cm">{{profile.name4}}</span>
    <span style="position: absolute; top: 20.7cm; left: 9.5cm">{{profile.position4}}</span>

    <span style="position: absolute; top: 24.1cm; left: 16cm">{{profile.name5}}</span>
    <span style="position: absolute; top: 24.1cm; left: 16cm">{{profile.position5}}</span>

    <!--
    <span style="position: absolute; top: 26.4cm; left: 13.2cm">{{profile.name6}}</span>
    <span style="position: absolute; top: 26.9cm; left: 13.4cm">{{profile.position6}}</span>
    -->
</div>