<div class="container-fluid overflow-auto" style="height: 100vh;">
    <nav class="navbar navbar-light bg-light mt-2 mb-3">
        <div class="container-fluid">
            <span class="navbar-brand">รับเรื่องสลับสาย</span>
        </div>
    </nav>

    <form [formGroup]="lineswapIssueFrm" >
        <div class="d-flex flex-row mb-2">
            @if(lineswapIssueFrm.get('issueno')?.value) {
            <div classs="form-group">
                <label>เลขที่งาน</label>
                <span class="form-control">{{lineswapIssueFrm.get('issueno')?.value}}</span>
            </div>
            }

            <div class="form-group ms-1">
                <label>วันที่รับเรื่อง</label>
                <span class="form-control">{{lineswapIssueFrm.get('created')?.value | date: "dd-MM-yyyy hh:mm:ss"}}</span>
            </div>

            <div class="form-group ms-1">
                <label>สายโทรเข้า</label>
                <select class="form-select">
                    <option [value]="1">สายใน</option>
                    <option [value]="2">สายนอก</option>
                </select>
            </div>

            <div class="form-group ms-1">
                <label>ประเภทงาน</label>
                <select class="form-select" formControlName="issuetype">
                    <option *ngFor="let opt of issueTypes" [value]="opt.value">{{opt.name}}</option>
                </select>
            </div>

            @if(this.lineswapIssueFrm.get('issuetype')?.value == 1) {
                <div class="form-group ms-1">
                    <label>ติดต่อสอบถาม</label>
                    <select class="form-select" formControlName="issueinquiry" >
                        <option *ngFor="let opt of issueInquiries" [value]="opt.value">{{opt.name}}</option>
                    </select>
                </div>
            }

        </div>

        <div class="d-flex flex-row mb-2">
            <div class="form-group me-1">
                <label class="label label-default">สายโทรเข้า</label>
                <input id="search" class="form-control" #search (keyup)="searchPhone(search.value)">
            </div>

            <div class="form-group me-1">
                <label class="label label-default">สถานที่/แผนก</label>
                <select class="form-select" formControlName="phone" (change)="changeLocation()">
                    <option *ngFor="let opt of phones" [ngValue]="opt">{{opt.number + ' ' + opt.location}}</option>
                </select>
            </div>
        </div>

        <div class="d-flex flex-row mb-2">

        </div>

        <div class="d-flex flex-row mb-2">
            <div class="form-group w-100">
                <label class="label label-default">ความต้องการ/สอบถาม</label>
                <textarea class="form-control" rows="5" formControlName="issuedescription"></textarea>
            </div>
        </div>

        <div class="d-flex flex-row mt-3 me-1 mb-3">
            <button class="btn btn-warning me-1" (click)="newLineSwapIssue()">
                <em class="fa fa-plus"></em>
                ล้างแบบฟอร์ม
            </button>

            <button class="btn btn-success me-1" (click)="save()">
                <em class="fa fa-save"></em>
                บันทึก
            </button>

            <button class="btn btn-info me-1" (click)="print()" [disabled]="lineswapIssue.phone == null || lineswapIssue.issuetype == 0 || lineswapIssue.issueby == null || lineswapIssue.issueby == ''">
                <em class="fa fa-print"></em>
                พิมพ์ใบสั่งงาน
            </button>
        </div>
    </form>


    <div class="table-responsive">
        <table id="new-issue-table" class="table table-bordered mt-1" style="width: 100%;">
            <caption></caption>

            <thead>
                <tr>
                    <th *ngFor="let header of dataTable.headerRow">{{header}}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of dataTable.dataRows"></tr>
            </tbody>
        </table>
    </div>
</div>