<div class="container-fluid overflow-auto" style="height: 100vh;">
    <nav class="navbar navbar-light bg-light mt-2 mb-3">
        <div class="container-fluid">
            <span class="navbar-brand">งานใหม่วันนี้</span>
        </div>
    </nav>
    
    <div class="table-responsive">
        <table id="jobs-today-table" class="table table-hover mt-1">
            <caption></caption>

            <thead>
                <tr>
                    <th *ngFor="let header of dataTable.headerRow">{{header}}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of dataTable.dataRows"></tr>
            </tbody>
        </table>
    </div>

</div>