<div class="container-fluid overflow-auto">
    <nav class="navbar navbar-light bg-light mt-2 mb-3">
        <div class="container-fluid">
            <span class="navbar-brand">รายการงานที่เสร็จแล้ว</span>
        </div>
    </nav>

    <div class="d-flex flex-row mb-2">
        <div classs="form-group">
            <label>เริ่ม</label>
            <input type="date" class="form-control" [(ngModel)]="frmDate" (ngModelChange)="searchbydate()" >
        </div>

        <div classs="form-group ms-1">
            <label>ถึง</label>
            <input type="date" class="form-control ms-1" [(ngModel)]="toDate" (ngModelChange)="searchbydate()">
        </div>
    </div>
    
    <div class="table-responsive">
        <table id="jobs-completed-table" class="table table-hover">
            <caption></caption>

            <thead>
                <tr>
                    <th *ngFor="let header of dataTable.headerRow">{{header}}</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th *ngFor="let footer of dataTable.footerRow">{{footer}}</th>
                </tr>
            </tfoot>

            <tbody>
                <tr *ngFor="let row of dataTable.dataRows"></tr>
            </tbody>
        </table>
    </div>
</div>
