<div class="container">
    <div class="row mt-5">
        <div class="col-4 offset-4">
            <div class="card">
                <div class="card-header">
                    <h4>ตรวจสอบสิทธิ์การใช้งาน</h4>
                </div>

            <div class="card-body">
                <div class="d-flex flex-column">
                    <div class="p-2">
                        <label>ชื่อผู้ใช้งาน</label>
                        <input class="form-control" [(ngModel)]="name" placeholder="ชื่อผู้ใช้งาน">
                    </div>

                    <div class="p-2">
                        <label>รหัสผ่าน</label>
                        <input type="password" class="form-control" [(ngModel)]="password" placeholder="รหัสผ่าน" (keydown.enter)="login()">
                    </div>

                    <div class="p-2" *ngIf="isInvalid">
                        <label class="text-danger">ผู้ใช้งานหรือรหัสไม่ถูกต้อง</label>
                    </div>

                    <div class="p-2">
                        <button type="button" class="btn btn-primary" (click)="login()">
                            <em class="fa fa-key"></em>
                            เข้าสู่ระบบ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>